<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="CurrentEnvironment" value="e2e" xdt:Transform="Replace" />
        <add key="ApiUrl" value="https://www.google.com/e2e/api/" xdt:Transform="Replace" />
    </appSettings>
</configuration>
